@media screen and (max-width:1200px){
    #hero p {
        font-size: .8rem;
    }
    #hero h1{
        font-size: 2rem;
    }

}
@media screen and (max-width:768px){
     #hero img{
        width: 60%;
    }
    #hero .row{
        padding-bottom: 75px;
    }
    .btn-custom-1{
        width: 80%;
    }  
    .social-icon{
        left: 50%;
        transform: translate(-50%);
    }
    #about p{
        text-align: justify !important;
    }
    #skill .card h3 {
        font-size: 1.3rem;
    }
    #skill .card {
        margin-left: 30px !important;
        margin-right: 30px !important;
        margin-top: 30px !important;
    } 
}
@media screen and (max-width:576px){
    hr{
        width: 75%;
    }
    h1{
        font-size: 2rem !important;
    }
   footer p{
    font-size: .8rem;
   }
}
@media screen and (max-width:430px){
    #portofolio .col-md-12{
        flex-direction: column;
    }
}